[submodule "3rd/tengine"]
	path = 3rd/tengine
	url = git@github.com:alibaba/tengine.git
[submodule "3rd/lua-nginx-module"]
	path = 3rd/lua-nginx-module
	url = git@github.com:openresty/lua-nginx-module.git
[submodule "3rd/njs"]
	path = 3rd/njs
	url = git@github.com:nginx/njs.git
[submodule "3rd/nginx-rtmp-module"]
	path = 3rd/nginx-rtmp-module
	url = git@github.com:arut/nginx-rtmp-module.git
[submodule "3rd/nginx-http-flv-module"]
	path = 3rd/nginx-http-flv-module
	url = git@github.com:winshining/nginx-http-flv-module.git
[submodule "3rd/nginx-push-stream-module"]
	path = 3rd/nginx-push-stream-module
	url = git@github.com:wandenberg/nginx-push-stream-module.git
[submodule "3rd/my-modules"]
	path = 3rd/my-modules
	url = git@github.com:BalusChen/my-nginx-modules.git
[submodule "3rd/unit"]
	path = 3rd/unit
	url = git@github.com:nginx/unit.git
[submodule "3rd/quickjs"]
	path = 3rd/quickjs
	url = git@github.com:horhof/quickjs.git
